.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.rollDice{
  display: block;
  margin:auto;
  margin-top: 5%;
  font-size: 1.5rem;
  font-weight: 600;
  color: blue;
  padding:5px;
  font-family: 'Indie Flower', cursive;
  border-radius: 33px;
  background: #83b7be;
  box-shadow: inset -5px -5px 10px #6f9ca2,
              inset 5px 5px 10px #97d2db;
  
}
